* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
.app,
form {
    display: flex;
    flex-direction: column;
}

body {
    min-height: 100vh;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.app {
    margin-top: 1em;
    width: 90%;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

.display {
    width: 70%;
    font-size: 8em;
    display: flex;
    justify-content: space-evenly;
    color: #333;
}

.display.bounce {
    animation: bounceIn 0.5s linear;
}

@keyframes bounceIn {
    0% {
        margin-top: -80px;
    }
    50% {
        margin-top: -20px;
    }
    100% {
        margin-top: 0;
    }

}

form {
    width: 60%;
    justify-content: center;
    position: absolute;
    top: 30%;
}

input {
    padding: 1em;
    margin: 1em 0;
    font-size: 2.2em;
    width: 100%;
    overflow: hidden;
    text-align: center;
    border: none;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
}

input:focus {
    outline-width: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

button {
    padding: 1em;
    background-color: indigo;
    color: #fefefe;
    font-size: 1.4em;
    border: none;
    outline-width: 0;
    opacity: 1;
    transition: opacity 0.5s ease;
}

button.disabled {
    opacity: 0.5;
}
