* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
.app,
.cover,
.intro,
form {
    display: flex;
    flex-direction: column;
}

body {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('https://previews.123rf.com/images/alexoakenman/alexoakenman1808/alexoakenman180800003/112234604-vector-colorful-mathematics-background-element-in-flat-style.jpg');
    background-size: cover;
}

.cover {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    color: #eee;
    z-index: 1;
    /* display: none; */
}

.intro p {
    margin: 48px;
    font-size: 1.4em;
    text-align: center;
}

.intro button {
    cursor: pointer;
}

.app {
    margin-top: 1em;
    width: 90%;
    align-items: center;
    justify-content: center;
    padding: 2em;
    background-color: rgba(0, 0, 0, 0.9);
    /* opacity: 0.3; */
}

.display {
    width: 70%;
    font-size: 8em;
    display: flex;
    justify-content: space-evenly;
    color: #333;
    position: relative;
    color: #eee;
}

#timer {
    color: #fff;
    font-size: 2em;
}

.display.bounce {
    animation: bounceIn 0.3s ease-in-out;
}

@keyframes bounceIn {
    0% {
        transform: translateY(-220px);
    }
    60%{
        transform: translateY(0px);
    }
    80%{
        transform: translateY(-60px);
    }
    100% {
        transform: translateY(0);
    }
}

@-o-keyframes bounceIn {
    0% {
        margin-top: -80px;
    }
    50% {
        margin-top: -20px;
    }
    100% {
        margin-top: 0;
    }
}

@-moz-keyframes bounceIn {
    0% {
        margin-top: -80px;
    }
    50% {
        margin-top: -20px;
    }
    100% {
        margin-top: 0;
    }
}

@-webkit-keyframes bounceIn {
    0% {
        margin-top: -80px;
    }
    50% {
        margin-top: -20px;
    }
    100% {
        margin-top: 0;
    }
}

form {
    width: 70%;
    justify-content: center;
    /* position: absolute;
    top: 30%; */
}

input {
    padding: .5em;
    margin: 1em 0;
    font-size: 2.2em;
    width: 100%;
    overflow: hidden;
    text-align: center;
    border: none;
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.6);
}

input:focus {
    outline-width: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

button {
    padding: .8em;
    background-color: indigo;
    color: #fefefe;
    font-size: 1.4em;
    border: none;
    outline-width: 0;
    opacity: 1;
    transition: opacity 0.3s ease;
    animation: bounceIn 1s ease;
}

button.disabled {
    opacity: 0.7;
}
